.profileStatus {
  position: relative;

  .status {
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;

    .statusText {
      span {
        color: #576979;
        font-weight: 300;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .editPanel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    border-bottom: 1px solid #c8d0d9;
    box-shadow: 0px 0px 9px -1px rgba(108, 108, 108, 0.75);
    background: #ececec;
    margin: 0 -20px;

    .inputWrap {
      margin-bottom: 10px;

      input {
        width: 100%;
        border-bottom: 1px solid #c3c3c3;
        padding: 0.5rem 1rem 0.5rem 0.2rem;
      }
    }
  }
}
