@keyframes ldioWbgn94bb3li {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.ldioWbgn94bb3li div {
  animation: ldioWbgn94bb3li 1s linear infinite;
  border-radius: 50%;
}

.loadingioSpinnerEclipseCdqqoxufxk {
  display: inline-block;
}

.ldioWbgn94bb3li {
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldioWbgn94bb3li div {
  box-sizing: content-box;
}
